* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

div div {
    padding: 0 10px;
    border: 1px solid blue;
    margin: 1px 0;
}

@media screen and (max-width: 640px) {
    .menu {
        margin: auto;
        text-align: center;
    }

    div div {
        float: left;
        background-color: lightblue;
    }

    .col-xs-12 {
        width: 100%;
    }


    .col-xs-6 {
        width: 50%;
    }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .menu {
        margin: auto;
        text-align: center;
    }

    .col-md-6,
    .col-md-2 {
        float: left;
        background-color: orange;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-2 {
        width: 16.6%;
    }
}

@media screen and (min-width :1024px) {
    .menu {
        margin: auto;
        text-align: center;
    }

    .col-l-6,
    .col-l-3,
    .col-l-1 {
        float: left;
        background-color: lime;
    }

    .col-l-6 {
        width: 50%;
    }
}

.col-l-3 {
    width: 25%;
}

.col-l-1 {
    width: 8.33%;
}
